@font-face {
    font-family: 'Protest Riot';
    src: url('/fonts/PatuaOne-Regular.ttf') format('woff2')
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Protest Riot', sans-serif;
}

#mainText{
    background-color: rgb(84, 210, 171);
    text-align: center;
}

.registration{
    position: relative;
    top: 50px;
    width: 100px;
    margin-left: 550px;
    
}
.registration input{
    margin-top: 10px;
}
input{
    border-radius: 3px;
    border-color: blue;
    height: 30px;
}
.registration input[type="checkbox"] {
    transform: scale(2); /* Увеличиваем размер флажка в 2 раза */
}