@font-face {
    font-family: 'Protest Riot';
    src: url('/fonts/PatuaOne-Regular.ttf') format('woff2')
}
*{
    font-family: 'Protest Riot', sans-serif;
}

.main-tab {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    background-color: rgb(84, 210, 171);
    display: flex;
    align-items: center; /* Центрирование по вертикали */
}
.main-tab h3{
    margin-left: 10px;
    font-size: 30px;
}

.about{
    position: relative;
    top: 80px;
    left: 10px;
    right: 10px;
}
.about h3, .goods h3, .store-address h3, .discounts h3{
    font-size: 25px;
    text-align: center;
}
.about-text{
    border: 2px solid;
}
.about-images{
    
    display: flex;
}
.about-images img{
    margin-right: 30px;
    width: 930px;
    border: 5px solid;
    border-color: rgb(84, 210, 171);
}
.goods{
    margin-top: 100px;
}
.goods-text{
    text-align: center;
    font-size: 25px;
    border: 2px solid;
}

.store-address-text{
    text-align: center;
    font-size: 25px;
    border: 2px solid;
}
.main-map{
    width: 1000px;
}
.discounts-text{
    text-align: center;
    font-size: 25px;
    border: 2px solid;
    margin-top: 30px;
}
a{
    text-decoration: none;
    color: black;
}
#catalog-button{
    font-size: 25px;
    text-align: center;
    border: 2px solid;
}
.catalog-btn{
    position: absolute;
    width: 220px;
    left: 50%;
    transform: translateX(-50%);
}