@font-face {
    font-family: 'Protest Riot';
    src: url('/fonts/PatuaOne-Regular.ttf') format('woff2')
}
*{
    font-family: 'Protest Riot', sans-serif;
}

.main-tab {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    background-color: rgb(84, 210, 171);
    display: flex;
    align-items: center; /* Центрирование по вертикали */
}
.main-tab h3{
    margin-left: 10px;
    font-size: 30px;
}
.description {
    position: absolute;
    top: 70px; /* Расстояние между main-tab и description */
    left: 0;
    right: 0;
    
}
.about{
    position: absolute;
    top: 30px;
    left: 10px;
    right: 10px;
    font-size: 25px;
    text-align: center;
}
.about-text{
    text-align: center;
    border: 2px solid;
}
.about-images{
    display: flex;
}
.about-images img{
    margin-right: 30px;
    width: 750px;
}
.goods{
    margin-top: 900px;
}

