@font-face {
    font-family: 'Protest Riot';
    src: url('/fonts/PatuaOne-Regular.ttf') format('woff2')
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;

}
*{
    font-family: 'Protest Riot', sans-serif;
}

.main-tab{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    border: 1px solid;
    color: rgb(84, 210, 171);
    background-color: rgb(84, 210, 171);
    margin-top: 0;
    display: flex;
    justify-content: space-around; /* Равномерное распределение пространства между элементами */
    align-items: center; /* Выравнивание по центру по вертикали */
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;   
}

.search input{
    width: 100%;
    height: 30px;
}

.search button{
    height: 35px;
}



.main-tab h3{

    color: black;
    font-family: 'Protest Riot', sans-serif;
    font-size: 25px;
    margin-right: 50px; /*Расстояние друг от друга*/
    line-height: 20px;
    
}

.main-tab a{
    text-decoration: none;
}

footer {
    position: relative;
    background-color: rgb(84, 210, 171);
    padding: 20px;
    margin-top: 10px;
    height: 250px;
}

.contact-info{
    font-size: 25px;
}
.tools-bar{
    position: fixed;
    bottom: 0;
    right: 0;
}
.up-btn{

    border: 2px solid;
    margin-bottom: 5px;
    margin-right: 5px;
    color: rgb(0, 0, 0);
    text-align: center;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center; /* Центрируем по горизонтали */
    align-items: center; /* Центрируем по вертикали */
    z-index: 100;
}

.up-btn img {
    height: 32px;
    width: 30px;
}

.goods{
    position: relative;
    text-align: left;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap; /* Разрешить перенос элементов на новую строку */
    justify-content: center;
    flex-grow: 1; /* Растягиваем блок товаров на всё доступное пространство */
}

.goods-card{
    border: 2px solid;
    margin-top: 30px;
    padding: 2px auto;
    margin-left: 30px;
}
.goods-card:hover{
    border-color: rgb(206, 193, 13);
}

p, h3{
    margin: 5px;
}
.goods-card img{
    width: 300px;
    height: 300px;
    border: 2px solid;
}
.green-color{
    color: rgb(84, 210, 171);
}
.basket-button{
    text-align: center;
    width: 100px;
    height: 30px;
    margin-bottom: 10px;
    margin-left: 50%;
    transform: translateX(-50%);
}
.telephone-number, .email, .github{
    display: flex; 
    justify-content: flex-start; /* Выравниваем содержимое в начале контейнера */
}
.telephone-number, .email, .github img {
    margin-right: 10px; /* Отступ между изображением и текстом */
}

.github{
    margin-top: 10px;
}
#github-svg{
    width: 35px;

}
a{
    text-decoration: none;
    color:black
}
.info{
    display: flex;
}
.social-media{
    position: absolute;
    right: 0;
    margin-right: 10px;
    margin-top: 90px;
}
.telegram{
    display: flex;
}
.vk{
    display: flex;
}

