@font-face {
    font-family: 'Protest Riot';
    src: url('fonts/PatuaOne-Regular.ttf') format('woff2')
}
body {
    /* background-color: #9370db; /* MediumPurple или другой оттенок фиолетового */
    color: #ffffff; /* Белый цвет текста для контраста */
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(84, 210, 171);
    background-size: 200% 100%;
    /*background: linear-gradient(to right, #ed0606, #1c26db);*/
    /* animation: gradientAnimation 5s ease infinite; */
}

/* @keyframes gradientAnimation {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0 0;
    }
} */
.main-text{
    font-weight: bolder;
    font-family: 'Protest Riot', sans-serif;
    color: black;
    font-size: 45px;
    text-align: center;
    text-align: left;
    top: 0;
    bottom: 0;
    margin: 0;
}

.enter {
    font-weight: bolder;
    font-family: 'Protest Riot', sans-serif;
    color: black;
    font-size: 45px;
    text-align: center;
    text-align: left;
    top: 0;
    bottom: 0;
    margin: 0;
}


  
.description{
    font-size: 30px;
    font-family: 'Protest Riot', sans-serif;
    color: black;
    text-align: left;
}
ul, ol{
    color: black;
    font-weight: bolder;
    font-size: 24px;
}
a{
    color: black;
    text-decoration: none;
    transition: font-size 0.4s ease
}
a:hover{
    color:black ;
    font-size: 35px;
}
a.enter-link{
    color:black;
    text-decoration: none;
    font-size: 45px;
}
a.enter-link:hover{
    color: blue;
}

#myText {
    position: absolute;
    top: 0;
    left: 0;
  }
h1{
    color: black;
    text-align: center;
}
img{
    height: 500px;
    width: 600px;
}
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-description{
    color: black;
    font-weight: bolder;
    text-align: center;
    font-size: 25px;
}
.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

.main-map {
    max-width: 757px; /* Максимальная ширина вашей карты */
    width: 200%;
    height: 598px; /* Высота вашей карты */
  }
.styled-box {
    border: 2px solid #3498db; /* Цвет границы */
    padding: 20px; /* Внутренние отступы */
    border-radius: 15px; /* Закругленные углы */
    background-color: #ecf0f1; /* Цвет фона */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень */
    font-family: 'Protest Riot', sans-serif; /* Шрифт текста */
    color: #2c3e50; /* Цвет текста */
    line-height: 1.6; /* Междустрочный интервал */
}

button{
    font-size: 25px;
    border-radius: 7px;
    margin: 12px auto; 
    display: block;
}
p{
    font-family: 'Protest Riot', sans-serif;
    color: black;
    font-size: 25px;
}